/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  font-size: x-large;
  margin: 0;
  padding: 0;
}

.white-text{
      background-color:red;
      padding: 20px;
      color:white
    

}
#outer-box{
  background-color: purple;
  padding: 10px;
}